/* Reset basic */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.header-content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.header-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

section {
    padding: 60px 20px;
    text-align: center;
}

#about, #skills, #contact {
    background: #f4f4f4;
    
}

.skills-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.skill {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

form input, form textarea {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
    padding: 10px;
}

form button {
    padding: 10px 20px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

form button:hover {
    background: #555;
}

footer {
    padding: 20px;
    text-align: center;
    background: #333;
    color: #fff;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

img {
    width: 650px; /* Ubah sesuai dengan ukuran yang Anda inginkan */
    height: auto; /* Menjaga proporsi gambar */
    border-radius: 5px; /* Opsional, untuk membuat sudut gambar melengkung */
}

